@using MyPortfolioWebApp.Extensions;
@{
    ViewBag.Title = "Perekrestov's corner";  
}
@if (!Context.Request.IsAjaxRequest())
{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="content-continer-center">
    <div class="content-container-two-columns">

        <div class="content-container-item">
            <img class="content-container-item-image" 
                 src="~/images/me4.jpg"
                 alt="my photo" width="408" />
        </div>       
        <div class="content-container-item">
            <div style="background-color:beige; padding: 1rem; ">
                <p class="about-text">
                    My name is Roman Perekrestov and I am self-tough programmer from
                    Ukraine. I am fond of programming since my childhood. In the
                    middle school I learned basics of Pascal and participated in
                    several solo and team programming contests. After the long break
                    I returned back to programming and mainly focused on the
                    development of .NET web and desktop applications.
                </p>
            </div>
            <div style="background-color:beige; padding: 1rem; margin-top: 1rem;">
                <h3>Education</h3>
                <p>
                    Sumy State University, Ukraine – magisters degree in
                    electronics.
                </p>
                <p>
                    Charles University in Prague – Ph.D degree in plasma physics.
                </p>
            </div>
            <div style="background-color:beige; padding: 1rem; margin-top: 1rem;">
                <h3>Skills</h3>
                <p>
                    HTML, CSS, Javascript(JQuery), C#(WPF, ASP.NET Core MVC, NUnit),
                    MySQL, Arduino C, Docker, Git
                </p>
            </div>
            <div style="background-color:beige; padding: 1rem; margin-top: 1rem;">
                <h3>Contacts</h3>
                <p>☎️ +420 774 031 361 (Czech Republic)</p>
                <p>☎️ +380 956 104 183 (Ukraine)</p>
                <p>📧 mr.perekrestov@gmail.com</p>
            </div>
        </div>
    </div>
</div>