:root { 
    --paragraph-text-color: black;   
    --small-header-color: black;   
    --text-font-family: "Montserrat", serif;
}
.content-continer-center {
  width: 100%;  
  margin: 0 auto;
}
.content-container-two-columns {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom:2rem;
    max-width: 75rem;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}

.content-container-two-columns p {
  text-indent: 2rem;
  font-size: 1rem;
  font-family: var(--text-font-family);
  margin: 0;
  color: var(--paragraph-text-color);
}
.content-container-two-columns h3 {
  font-family: var(--text-font-family);
  color: var(--small-header-color);
  margin: 0;
  margin-bottom: 1rem;
}
.content-container-two-columns h4 {
  font-family: var(--text-font-family);
}

.content-container-item {
    padding: 0.5rem;
    margin: 0.5rem;   
    min-width: 35rem;
    display: flex;
    box-sizing:border-box;
    flex-direction: column;
    justify-content: center;
}
    .content-container-item div {
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);       
    }
.content-container-item-image {
    width: 442px;
    display: block;
    margin: 0.1rem auto;
    padding: 0;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
}

.about-text {
  text-align: justify;
}
@media (max-width: 1040px) {
    .content-container-two-columns {
        grid-template-columns: auto;
    }   
        .content-container-item {
        width: 95%;
        margin:0.5rem auto;
    }
    
}
@media only screen and (max-device-aspect-ratio: 9/13) {
    .content-container-two-columns {
        grid-template-columns: auto;
    }

    .content-container-item {
        min-width: 95%;        
        margin: 0.5rem auto;
    }

    .content-container-item-image {
        width: 100%;
        margin: 0.1rem auto;
    }

    .content-container-two-columns p {
        font-size:1.2rem;
        line-height:2rem;
    }
}
