:root {
  --navbar-animation-time: 0.2s;
  --navbar-item-text-color-hover: #fc913a;
  --navbar-item-text-color: black; 
  --nav-and-footer-background-color: rgba(252, 252, 231, 1);
  font-size: 85%;
}

html,
body {
    height: 100%;    
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: none;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;   
    overflow-y:scroll;
    margin: 0;
    padding: 0;
}
   

nav {
  top: 0;
  position:sticky;
  z-index:1;
  background-color: var(--nav-and-footer-background-color);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.7);
  width:100%;
}
.footer-container {
  width:100%;
  position: relative;
  flex-shrink: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  background: var(--nav-and-footer-background-color);
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.7);
}

.footer-item {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: gray;
  padding: 0.3rem;
}
.footer-item img {
  opacity: 0.5;
  transition: opacity 0.5s;
}
.footer-item img:hover {
  opacity: 1;
  cursor: pointer;
}
.nav-bar-container-outer {
  display: flex;
  justify-content: center;
}
.nav-bar-container-inner {
  display: flex;
  justify-content: space-between;
}
#send-email-image {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
    user-select: none;
}
.nav-bar-item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration:none;
  user-select: none;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  color: var(--navbar-item-text-color);
  padding: 1rem;
  white-space: nowrap;
  transition: color var(--navbar-animation-time);
}
.nav-bar-item::after {
  content: "";
  height: 0.2rem;
  display: block;
  width: 0%;
  background: var(--navbar-item-text-color);
  transition: width var(--navbar-animation-time),
    color var(--navbar-animation-time);
  margin: 0 auto;
  margin-top: 0.2rem;
  border-radius: 0.1rem;
}

.nav-bar-item:hover {
  color: var(--navbar-item-text-color-hover);
  cursor: pointer;
}
.nav-bar-item:hover::after {
  width: 100%;
  background: var(--navbar-item-text-color-hover);
}
.send-message-container {
  position: relative;
  width: 3rem;
  margin-left:1rem;
}
.send-message-icon {    
    background: url(/icons/new-post-48-black.ico);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    transition: content 0.2s;
}


.send-message-icon:hover {
    background: url(/icons/new-post-48-selected.ico);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.background {
    background-image: url(/images/background_lamp_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    font-family: 'Scout', arial, sans-serif;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.content-container {  
    flex: 1 0 auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
    .content-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(220, 220, 220, 0.3);        
        z-index: -1;
    }
#progress-image {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#pop-up {
    display: none;
    position: fixed;
    opacity: 0;
    left: -webkit-calc(100% - 35rem);
    left: -moz-calc(100% - 35rem);
    left: calc(100% - 35rem);
    top: calc(100%-13rem);
    width:35rem;
    /*max-width:95%;*/
    height: 6rem;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: thin;
    background-color: lightyellow;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    color: gray;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    font-family: "Josefin Sans", sans-serif;
    overflow: hidden;
    padding: 0.2rem;
}
#pop-up-message {
  font-size: 1.2rem;
  margin: 0 auto;
  width: 30rem;  
  text-align: center;
}

@media only screen and (max-width:500px) {
    #pop-up {
        display:none;
        max-width:95%;  
        left: 50%;
        transform: translate(-50%,0%);
    }
    :root {
        --navbar-animation-time: 0s;
    }       
}

