.projects-container {
    z-index:1;
    max-width: 65rem;
    margin: 1rem auto;     
    border-radius: 0.4rem;
    padding: 1rem;
    padding-top: 0.1rem;   
    padding-bottom: 0.1rem;    
    color: rgb(87, 83, 83);   
}
.project-item-container {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(236, 200, 121);
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
}
.project-item-container-year {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.4rem;
    font-family: "Josefin Sans", sans-serif;
}
.project-item-header {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    background-color: rgb(252, 252, 231);
    margin-bottom: 0.5rem;
   
}
    .project-item-header * {
        margin: 0;
        padding: 0.5rem;
        font-family: "Josefin Sans", sans-serif;
        text-decoration:solid;
        
    }
    .project-item-header h2 {       
        
    }
.project-item-body {
    background-color: rgb(252, 252, 231);
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 0.1rem;
    font-family:"Montserrat", serif;
}

    .project-item-body h3 {
        margin-top: 1rem;
        margin-bottom: 0;
        font-family: "Josefin Sans", sans-serif;
        font-size:1.4rem;
    }

    .project-item-body p {
        text-indent: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        line-height: 2rem;
        text-align: justify;
        font-size: 1.2rem;
    }
.link-button {
    display: inline-block;
    font-size: 1.2rem;
    color: white;
    background-color: #fc913a;
    text-decoration: none;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    font-family: "Josefin Sans", sans-serif;
}
.link-button:hover {
  cursor:pointer;
  user-select:none;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
}
.project-item-published {
    font-style: italic;
    font-size: 1.3rem;
    white-space:nowrap;
}
    .project-item-published div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
